*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
header{
    margin: 20px;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1700px;
    margin: 0 auto;

}
.navbar ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
nav ul li{
    display: flex;
    list-style: none;

}

nav ul li a{
text-decoration: none;
color: #575757;
padding-left: 13px;
font-size: 13px;
transition: 0.5s;
}
nav ul li a:hover{
    color: black;
    font-weight: bold;
}

.main-button{
    background-color: #0162ff;
    color: white;
    padding: 11px 26px;
    font-weight: bold;
    font-size: 13px;
    border: none;
    border-radius: 8px;
    transition: 0.5s;
}
.main-button:hover{
    background-color: blue;
}

.section-parent img{
    width: 100%;
    height: 80vh;
    object-fit: cover;
    object-position: center;
    position: absolute;
    box-shadow: 3px 3px 5px;
}
.section-child{
    position: relative;
    height: 80vh;
}
.section-child h1{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
    font-size: 60px;
}
.section-child p{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    /* font-size: 60px; */
}
.section-child .second-button{
    background-color: #0162ff;
    color: white;
    padding: 11px 26px;
    font-weight: bold;
    font-size: 13px;
    border: none;
    border-radius: 8px;
    transition: 0.5s;
    margin: 0 auto;
    display:flex;
    align-items: center;
    margin-top: 410px;
}
.section-child .second-button:hover{
         background-color: blue;

}
.h-section h1{
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}
.gallery-section{
    /* display: flex; */
    /* align-items: center;
    justify-content: center;
    margin-bottom: 30px; */
    margin-top: 30px !important;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.card{
    /* width: 400px;
    height: 300px;
    background-color: #ffffff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 0.1px solid rgb(234, 232, 232); */
    width: 530px;
    height: 400px;
    background-color: #ffffff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border: 0.1px solid rgb(234, 232, 232);
}
.card img{
    /* width: 100%;
    height: 200px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px; */
    width: 100%;
    height: 300px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.text p{
    color: #0162ff;
    font-size: 12px;
    font-weight: bold;
    padding-top: 8px;
    margin-left: 8px;
}
.text h3{
        padding-top: 8px;
        margin-left: 8px;

}
.text h6{
  color:#575757 ;
  font-weight: normal;
  font-size: 12px;
  padding-top: 8px;
  margin-left: 8px;

}
.pricing{
         margin-top: 40px;
}
.pricing h2{
     color: black;
    display: flex;
    align-items: center;
    justify-content: center;
  

}
.pricing p{
    color: #575757;
    display: flex;
    align-items: center;
    justify-content: center;
}
 .pricing-card{
         width: 300px;
         height: 400px;
         background-color: #ffffff;
         border-radius: 8px;
         display: flex;
         flex-direction: column;
         gap: 12px;
         border: 0.1px solid rgb(234, 232, 232);

 }

